.listStacks{
  display: flex;
  list-style: none;
  justify-content: center;

  li{
    padding: 30px;
    height: 100px;
    outline: 2px solid yellow;
    background: #fff;
    width: 100px;
    display: inline-flex;
    justify-content: center;
  }
  img{
    width: 100%;
  }
}