@import '../../../theme/palette';

.teamPage{
  position: relative;
}
.membersList{
  position: absolute;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-300px);
  a{
    display: inline-block;
    padding: 4px 16px;
    margin: 5px 0;
    font-size: 24px;
    color: $paletteColor3;
    &:focus{
      outline: 2px solid $paletteColor3;
    }
  }
}
