$paletteColor1: #0c161e;
$paletteColor2: #e2b100;
$paletteColor3: white;
$paletteColor4: #3f51b5;
$paletteColor5: #90949C;
$paletteColor6: #dea12f;
//$paletteColor7: #365899;
//$paletteColor8: #282828;
//$paletteColor9: #616770;
//$paletteColor10: #E1E2E3;

